html,
body {
    height: 100%;
    font-family: "Lato", sans-serif;
    font-weight: 600;
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
    width: 100%;
    position: relative;
    min-height: 100%;
}
