//  Large screen
@media (max-width: 1180px) {
    .wrapper {
        max-width: 1000px;
        padding: 0 15px;
    }

    .delivery {
        &__box {
            flex-wrap: wrap !important;
        }

        &__block {
            width: 100% !important;
            margin-right: 0px !important;
        }

        .payment {
            width: 100%;
            margin-top: 20px;
            height: 100% !important;
        }

        .exchange {
            width: 100% !important;
            height: 100%;
            margin-top: 10px;

            &__description {
                overflow: hidden;
            }
        }

        .grievances {
            width: 100% !important;
        }
    }

    .navigation {
        &__menu {
            min-width: 100px;
        }

        &__list {
            overflow: scroll !important;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        &__item {
            padding-left: 20px !important;
        }

        &__list {
            display: none !important;
        }
    }

    .form {
        &__input {
            position: relative;
            margin-left: 0px !important;
            background: #f7f7f7;
            border: none !important;
            border-radius: 3px !important;
        }

        &__button {
            display: none !important;
        }
    }

    .header {
        &__search {
            position: relative !important;
            display: flex;
            order: 1;
            min-width: 100%;

            &::before {
                position: absolute;
                display: block;
                content: "";
                width: 24px;
                height: 24px;
                top: 32px;
                right: 16px;
                background-image: url(../images/search.png);
                z-index: 6;
            }
        }

        .form__input {
            display: flex;
            flex-basis: 100%;
            margin-top: 25px;
        }

        .form__button {
            top: 30px !important;
            right: 25px !important;
        }
    }
    .slick-prev,
    .slick-next {
        margin-left: -20px;
    }

    .cart {
        &__top-info {
            &::after {
                width: 100% !important;
            }
        }
    }

    .advantage {
        &__box {
            grid-template-columns: repeat(3, 1fr) !important;
            padding: 0 20px;
        }

        &__header {
            padding-left: 15px !important;
        }
    }

    .product {
        &__button {
            &::after {
                left: 30px !important;
            }
        }
    }

    .recomend {
        &__wrap {
            &::after {
                left: 0 !important;
            }

            &::before {
                right: 0 !important;
            }
        }

        &__button {
            margin-left: auto;
            margin-right: auto;
            margin-top: 25px;
            left: -50px !important;
            right: 0px !important;
        }
    }

    .recommendations .recommendations {
        &__wrap {
            &::after {
                left: 0;
            }

            &::before {
                right: 0;
            }
        }
    }

    .menu {
        &__button {
            display: none !important;
        }

        &__content {
            display: none !important;
        }
    }

    .slider {
        &__box {
            margin-left: 82px;
        }
    }
}
// Laptop M
@media (max-width: 1024px) {
    .arrow-next {
        right: 7px !important;
    }

    .arrow-perv {
        right: 60px !important;
    }

    .modal {
        &__wrap {
            flex-wrap: wrap;
            background: #f7f7f7;
            border-radius: 3px;
            margin-bottom: 20px;
            padding: 16px 16px 16px 16px;
        }

        &__graph {
            text-align: start !important;
        }

        &__description {
            width: auto !important;
        }
    }
    .description {
        &__inner {
            flex-wrap: wrap;
        }
        &__box {
            width: 100% !important;
        }
    }

    .slide-prev {
        left: -15px;
    }

    .feature {
        &__inner {
            display: inline !important;
        }

        &__wrap {
            display: none;
        }

        &__block {
            margin-top: 50px !important;
        }
    }

    .reviews {
        &__slider {
            width: 100% !important;
            margin-left: 0px !important;
            margin-top: 16px;
        }
    }
}

@media (max-width: 992px) {
    .contacts .contacts {
        &__inner {
            flex-wrap: wrap-reverse;
        }

        &__block {
            margin-bottom: 5px;
        }
    }

    .slider {
        &__desc {
            margin: auto;
        }
    }

    .requisites {
        width: 100% !important;
        margin-left: 0px !important;
        margin-bottom: 20px !important;
    }
}

@media (max-width: 1010px) {
    .header {
        &__cart {
            display: none !important;
        }

        &__top {
            overflow: hidden !important;
        }
    }
}

@media (max-width: 980px) {
    .catalog {
        &__filters {
            display: none;
        }

        &__main {
            justify-content: center;
        }
    }
}

@media (max-width: 995px) {
    .cart-product .cart-product {
        &__button {
            cursor: pointer;
            border: none;
            width: 221px;
            height: 51px;
            background: #1074eb;
            color: white;
            border-radius: 3px;
        }

        &__title-gray {
            font-size: 30px;
        }

        &__title {
            font-size: 30px;
        }
    }

    .cart-product__button::after {
        display: none !important;
    }

    .item {
        &__price {
            font-size: 24px !important;
        }

        &__old-price {
            font-size: 24px !important;
        }
    }

    .content {
        &__bottom {
            display: block !important;
        }
    }
}

@media (max-width: 950px) {
    .slider {
        &__box {
            margin-left: 0px !important;
            margin-top: 20px !important;
            top: 0;
        }
    }

    .cart .cart {
        &__bottom-content {
            padding-right: 0;
        }
    }
}

@media (max-width: 929px) {
    .product {
        &__img {
            width: 100% !important;
        }
    }
}

// Laptop
@media (max-width: 922px) {
    .header {
        &__box {
            justify-content: space-between !important;
        }

        &__motto {
            display: none !important;
        }
    }

    .footer {
        padding: 0 15px;

        &__contacts {
            flex-basis: 100%;
            margin-top: 15px;
        }

        &__support {
            width: 30%;
        }
    }

    .recommendations .recommendations {
        &__inner {
            padding: 50px 0 0 40px;
        }

        &__wrap {
            &::after {
                left: -29px;
            }

            &::before {
                right: -45px;
            }
        }
    }
}
@media (max-width: 890px) {
    .content__bottom {
        display: flex !important;
    }

    .cart-product__button {
        width: 100% !important;
    }

    .share__img {
        right: 27px;
        position: relative;
    }

    .button {
        &__wrap {
            display: flex;
        }
    }

    .favorites,
    .share {
        visibility: visible !important;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 51px;
        height: 51px;
        border: none;
        background: #1074eb;
        border-radius: 3px;
        margin-left: 18px;
    }

    .cart-product .cart-product {
        &__inner {
            flex-wrap: wrap-reverse;
        }

        &__block {
            width: 100%;
            margin-left: 0px;
            padding: 0;
        }
    }

    .feature {
        &__box {
            display: none;
        }
    }

    .cart-product .cart-product {
        &__img {
            display: none;

            &-two {
                display: block !important;
                object-fit: contain;
                width: 359px;
                height: 359px;
            }
        }

        &__block {
            background: white;
        }

        &__features {
            margin-top: 339px;
        }
    }

    .price::before,
    .patterns::after {
        display: none !important;
    }

    .red {
        &__point {
            display: none;
        }
    }

    .not {
        &__available {
            display: none;

            &-two {
                display: block !important;
            }
        }
    }
}

// Tablet
@media (max-width: 875px) {
    .header {
        &__links {
            margin-top: 10px;
        }
    }
}

@media (max-width: 850px)  {
    .advantage {
        &__item {
            min-width: 100%; 
        }
    }
}

@media (max-width: 850px) {
    .header {
        &__links {
            display: flex;
            justify-content: flex-end;
        }
    }

    .advantage {
        &__box {
            display: flex !important;
            flex-direction: column !important;
        }
    }
}

@media (max-width: 826px) {
    .cart .cart {
        &__list {
            display: none;
        }

        &__top-info {
            display: none !important;
        }

        &__content {
            padding: 10px !important;
        }
    }
}

@media (max-width: 806px) {
    .recommendations .recommendations {
        &__wrap {
            &::after {
                left: -55px;
                top: -45px;
            }

            &::before {
                right: -124px;
            }
        }
    }
}

@media (max-width: 785px) {
    .catalog .catalog {
        &__top-info {
            flex-wrap: wrap;
            width: 400px;
        }
    }

    .sort {
        &__block {
            margin-bottom: 20px;
        }

        &__title {
            margin-left: 0px !important;
        }
    }

    .modal {
        &__form {
            display: none !important;
        }

        &-content {
            padding: 16px 16px 16px 16px !important;
        }
    }

    .close {
        right: 10px !important;
        top: 30px !important;
    }

    .modal {
        &__wrap {
            &::before {
                width: 98% !important;
            }
        }
    }
}

@media (max-width: 768px) {
    .header .header {
        &__top {
            position: relative;
            background: white;

            &::before {
                position: absolute;
                display: block;
                content: "";
                width: 97%;
                height: 1px;
                background: #c9c9c9;
                border-radius: 1px;
                top: 57px;
                left: 11px;
            }
        }
    }

    .product {
        &__price,
        &__old__price {
            font-size: 20px !important;
        }
    }
}

@media (max-width: 750px) {
    .catalog .catalog {
        &__inner {
            grid-template-columns: 1fr 1fr;
        }
    }

    .cart .cart {
        &__button-wrap {
            width: 37%;
        }
    }
}

// Tablet
@media (max-width: 780px) {
    .wrapper {
        padding: 0 15px;
    }

    .logo,
    .header__button,
    .header__user,
    .social__icon,
    .header__link,
    .motto__quote {
        display: none !important;
    }

    .header .header {
        &__box {
            position: relative;
            flex-wrap: nowrap;
            display: flex;
            justify-content: space-between !important;
            align-items: center;

            &::before {
                position: absolute;
                content: "";
                display: block;
                top: 50px;
                background: #c9c9c9;
                border-radius: 3px;
                min-width: 100%;
                height: 1px;
            }
        }

        &__links {
            margin-top: 0;
            flex-basis: auto;
        }

        &__logo {
            width: 106.66px;
            margin-right: 10px;
        }

        &__links {
            justify-content: unset;
        }

        &__logo--top {
            display: block;
        }

        &__menu--top {
            display: block;
        }

        &__tel {
            display: none;
        }

        &__email {
            position: relative;
            display: block !important;
            font-size: 16px;
            line-height: 19px;
            color: #383838;

            &::after {
                position: absolute;
                content: "";
                display: block;
                background-image: url(../images/email.png);
                background-repeat: no-repeat;
                width: 20px;
                height: 20px;
                left: -20px;
                bottom: -4px;
            }
        }

        &__phone {
            display: block !important;
            font-size: 16px;
            line-height: 19px;
            color: #383838;
        }

        &__inner {
            display: unset;
            flex-wrap: nowrap;
        }

        &__contact {
            display: flex;
            justify-content: space-between;
        }

        &__phone {
            position: relative;
            margin-left: 20px;

            &::after {
                position: absolute;
                content: "";
                display: block;
                background-image: url(../images/phone.png);
                background-repeat: no-repeat;
                width: 20px;
                height: 20px;
                left: -20px;
                bottom: -4px;
            }
        }

        &__email {
            position: relative;
            margin-left: 20px;
        }

        &__icon {
            &:nth-child(4) {
                display: block !important;
            }
        }
    }

    .burger__menu {
        display: block !important;
        background: #1074eb;
        border-radius: 3px;
    }
}

// Tablet
@media (max-width: 752px) {
    .recommendations {
        background-size: 4990px auto;
        height: 530px !important;

        &__inner {
            align-items: flex-start !important;
        }

        &__wrap {
            &::before {
                top: 275px !important;
            }
        }

        &__inner {
            padding: 171px 0 0 191px !important;
        }

        &__info {
            white-space: nowrap;
            font-size: 20px !important;
        }
    }

    .requisites .requisites {
        &__inner {
            display: inline-block;
        }
    }

    .delivery__warp::before {
        position: relative !important;
        width: 0% !important;
        margin-top: 0px !important;
        height: 0px !important;
    }
}

@media (max-width: 720px) {
    .footer {
        &__info {
            flex-basis: 50%;
        }
    }

    .content {
        &__bottom {
            display: flex !important;
            justify-content: space-between !important;
        }
    }

    .shop {
        &__cart {
            display: none !important;
        }
    }

    .favorites,
    .share {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 51px;
        height: 51px;
        border: none;
        background: #1074eb;
        border-radius: 3px;
        margin-left: 18px;
    }

    .button {
        &__wrap {
            display: flex;
        }
    }
}

@media (max-width: 706px) {
    .cart .cart {
        &__button-wrap {
            width: 45%;
        }

        &__price--removed {
            display: none;
        }
    }
}

@media (max-width: 610px) {
    .cart .cart__button-wrap {
        width: 50%;
    }
}

// Mobile L
@media (max-width: 600px) {
    .catalog {
        &__inner {
            grid-template-columns: 1fr !important;
        }

        &__img {
            width: 100% !important;
        }

        &__button {
            min-width: 100% !important;
        }
    }
    .cart {
        &__bottom {
            background: #f7f7f7 !important;
        }
    }
    .slider {
        &__img {
            display: none !important;

            &-rs {
                display: block !important;
                width: 100%;
                height: 100%;
            }
        }
    }

    .advantage {
        &__header {
            display: none;

            &-mobile {
                display: block !important;
                font-size: 36px;
                text-align: center;
                margin-bottom: 36px;
                font-weight: 400;
            }
        }

    }

    .cart .cart__features {
        margin-top: 312px;
    }

    .map {
        &__button {
            width: auto !important;
            min-width: 281px !important;
        }
    }

    .modal {
        &__wrap {
            &::before {
                width: 96% !important;
            }
        }
    }

    .location {
        &__img {
            margin: auto;
        }
    }

    .modal {
        &__title {
            font-size: 24px !important;
        }
    }

    .requisites {
        background: none !important;
        padding: 0 !important;
    }

    .contacts .contacts {
        &__inner {
            flex-wrap: wrap;
        }

        &__box {
            margin-top: 56px;
        }

        &__block {
            flex-wrap: wrap;
            width: 250px;
        }

        &__email {
            margin-left: -17px;
        }
    }

    .social {
        &__networks {
            margin-bottom: 56px !important;
        }
    }

    .slider {
        &__desc {
            text-align: center;
        }
    }

    .recommendations {
        background-size: 4990px auto;
        height: 530px !important;

        &__inner {
            padding: 290px 0 0 0px !important;
        }

        &__button {
            width: 171px !important;
            height: 51px !important;
        }

        &__info {
            &::after {
                margin-top: 45px !important;
            }
        }
    }

    .sort {
        &__title {
            &:nth-of-type(2) {
                display: none !important;
            }
        }

        &__number {
            display: none;
        }
    }

    .button {
        &__more {
            cursor: pointer;
            display: block !important;
            border: none;
            background: none;
            margin: -55px -4px 0px 0px;
        }
    }

    .btn {
        &__wrap {
            display: flex;
            justify-content: flex-end;
        }
    }

    .product {
        &__button {
            width: 113px !important;
            height: 51px !important;

            &::after {
                display: none !important;
            }
        }

        &__chart {
            cursor: pointer;
            display: flex !important;
            justify-content: center;
            align-items: center;
            width: 51px;
            height: 51px;
            background: #1074eb;
            border-radius: 3px;
            border: none;
        }

        &__inner {
            display: flex !important;
            justify-content: space-between !important;
            align-items: flex-end !important;
            width: 173px;
        }

        &__icon {
            display: none !important;
        }
    }

    .carousel {
        &__product {
            margin: 0 10px !important;
            width: 176px !important;
        }
    }

    .button {
        &__block {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }

        &__charts {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 51px;
            height: 51px;
            background: #1074eb;
            border-radius: 3px;
            border: none;
            visibility: visible !important;
        }
    }

    .star__img {
        display: none !important;

        &:first-child {
            display: block !important;
        }
    }

    .share {
        &__img {
            display: none;
        }
    }

    .heart {
        &__image {
            display: none;
        }
    }

    .cart .cart {
        &__block {
            padding: 0;
            background: white;
        }

        &__title {
            font-size: 24px;
            margin-bottom: 5px;
        }

        &__title-gray {
            font-size: 24px;
        }
    }

    .item {
        &__price {
            font-size: 22px !important;
        }

        &__old-price {
            margin-left: 9px !important;
            font-size: 22px !important;
        }
    }

    .star {
        padding-right: 20px !important;
    }
}

// Mobile L
@media (max-width: 550px) {
    .footer {
        &__info {
            flex-basis: 60%;
            margin-top: 20px;
        }

        &__support {
            margin-top: 20px;
        }

        &__box {
            justify-content: unset !important;
        }
    }
}

@media (max-width: 500px) {
    .delivery {
        &__description {
            margin-top: 21px !important;
        }
    }
}

// Mobile S
@media (max-width: 430px) {
    .arrow-perv {
        left: -15px !important;
    }

    .carousel {
        &__title {
            text-align: center;
            font-size: 28px !important;
        }
    }

    .footer {
        padding: 0 8px;
        &__box {
            justify-content: unset !important;
        }

        &__logo {
            width: 106px;
            height: 30px;
            margin-bottom: 0px !important;
        }

        &__info {
            flex-basis: 60%;
            margin-top: 20px;
        }

        &__email {
            order: 1;
        }

        &__time {
            font-size: 15px !important;
            margin-right: 44px;
        }

        &__tel {
            text-align: right;
            margin-top: -23px;
        }

        &__support {
            flex-basis: 100%;
        }

        &__button {
            min-width: 100%;
            overflow: hidden;
        }

        &__location {
            width: 297px !important;
        }

        &__row {
            display: flex;
        }

        &__support-us {
            margin-top: 32px;
        }
    }

    .catalog .catalog {
        &__inner {
            gap: 15px;
        }

        &__title {
            margin-top: 27px;
            margin-bottom: 27px;
        }

        &__top-info {
            width: 300px;
        }
    }

    .sort {
        &__title {
            margin-top: 7px;
            display: inline-block;
        }

        &__number {
            margin-left: 7px;
        }
    }

    .product {
        &__button {
            &::after {
                display: none !important;
            }
        }
    }
}

@media (max-width: 375px) {
    .cart .cart {
        &__title-two {
            margin-bottom: 10px;
            margin-top: 10px;
        }
    }

    .carousel {
        &__product {
            width: 172px !important;
            margin: 0 9px !important;
        }

        &__box {
            margin-left: 25px !important;
        }
    }

    .product {
        &__inner {
            width: auto !important;
        }
    }

    .wrapper {
        padding: 0 8px;
    }

    .header {
        &__icon {
            margin-right: 16px !important;
            margin-left: 0 !important;
        }
    }

    .cart .cart__features {
        margin-top: 272px;
    }

    .content {
        &__bottom {
            margin-top: 0px !important;
        }
    }

    .price {
        margin-top: 0 !important;
    }
}

@media (max-width: 370px) {
    .carousel .carousel {
        &__box {
            margin-left: 0 !important;
        }
    }
}

@media (max-width: 355px) {
    .path .path {
        &__title,
        &__return {
            font-size: 14px;
        }
    }

    .carousel {
        &__product {
            margin: 0px 7px !important;
            width: 172px !important;
        }
    }

    .item {
        &__sup-title {
            font-size: 14px !important;
        }
    }

    .cart .cart__features {
        margin-top: 248px;
    }
}

@media (max-width: 340px) {
    .cart .cart__features {
        margin-top: 248px;
    }
}

@media (max-width: 336px) {
    .header .header {
        &__menu--top {
            margin-left: 0;
        }
    }
}
