//  Large screen
@media (max-width: 1180px) {
    .wrapper {
        max-width: 1000px;
        padding: 0 15px;
    }

    .navigation {
        &__menu {
            min-width: 100px;
        }

        &__list {
            overflow: scroll !important;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        &__item {
            padding-left: 20px !important;
        }

        &__list {
            display: none !important;
        }
    }

    .form {
        &__input {
            position: relative;
            margin-left: 0px !important;
            background: #f7f7f7;
            border: none !important;
            border-radius: 3px !important;
        }

        &__button {
            display: none !important;
        }
    }

    .header {
        &__search {
            position: relative !important;
            display: flex;
            order: 1;
            min-width: 100%;

            &::before {
                position: absolute;
                display: block;
                content: "";
                width: 24px;
                height: 24px;
                top: 32px;
                right: 16px;
                background-image: url(../images/search.png);
                z-index: 6;
            }
        }

        .form__input {
            display: flex;
            flex-basis: 100%;
            margin-top: 25px;
        }

        .form__button {
            top: 30px !important;
            right: 25px !important;
        }
    }
    .slick-prev,
    .slick-next {
        margin-left: -20px;
    }

    .advantage {
        &__box {
            grid-template-columns: repeat(3, 1fr) !important;
            padding: 0 20px;
        }

        &__header {
            padding-left: 15px !important;
        }
    }

    .product {
        &__button {
            &::after {
                left: 30px !important;
            }
        }
    }

    .recomend {
        &__wrap {
            &::after {
                left: 0 !important;
            }

            &::before {
                right: 0 !important;
            }
        }

        &__button {
            margin-left: auto;
            margin-right: auto;
            margin-top: 25px;
            left: -50px !important;
            right: 0px !important;
        }
    }

    .recommendations .recommendations {
        &__wrap {
            &::after {
                left: 0;
            }

            &::before {
                right: 0;
            }
        }
    }

    .catalog__filters {
        display: none;
    }
}
// Laptop M
@media (max-width: 1024px) {
    .description .description {
        &__inner {
            flex-wrap: wrap;
        }

        &__box {
            width: 100%;
        }
    }

    .reviews {
        &__slider {
            width: 100% !important;
            margin-left: 0px !important;
            margin-top: 16px;
        }
    }
}

@media (max-width: 995px) {
    .cart .cart {
        &__button {
            min-width: 100%;
        }

        &__title-gray {
            font-size: 30px;
        }

        &__title {
            font-size: 30px;
        }
    }
    .item {
        &__price {
            font-size: 24px !important;
        }

        &__old-price {
            font-size: 24px !important;
        }
    }

    .content {
        &__bottom {
            display: block !important;
        }

        &__block {
            margin-top: 20px;
        }
    }
}

// Laptop
@media (max-width: 922px) {
    .header {
        &__box {
            justify-content: space-between !important;
        }

        &__motto {
            display: none !important;
        }
    }

    .footer {
        padding: 0 15px;

        &__contacts {
            flex-basis: 100%;
            margin-top: 15px;
        }

        &__support {
            width: 30%;
        }
    }

    .recommendations .recommendations {
        &__inner {
            padding: 50px 0 0 40px;
        }

        &__wrap {
            &::after {
                left: -29px;
            }

            &::before {
                right: -45px;
            }
        }
    }
}
@media (max-width: 890px) {
    .cart .cart {
        &__inner {
            flex-wrap: wrap-reverse;
        }

        &__block {
            width: 100%;
            margin-left: 0px;
        }
    }

    .feature {
        &__box {
            display: none;
        }
    }
}

// Tablet
@media (max-width: 875px) {
    .header {
        &__links {
            margin-top: 10px;
        }
    }
}

@media (max-width: 850px) and (min-width: 580px) {
    .advantage {
        &__item {
            min-width: 100% !important;
        }
    }
}

@media (max-width: 850px) {
    .header {
        &__links {
            display: flex;
            justify-content: flex-end;
        }
    }

    .advantage {
        &__box {
            display: flex !important;
            flex-direction: column !important;
        }
    }
}

@media (max-width: 806px) {
    .recommendations .recommendations {
        &__wrap {
            &::after {
                left: -55px;
                top: -45px;
            }

            &::before {
                right: -124px;
            }
        }
    }
}

// Tablet
@media (max-width: 780px) {
    .wrapper {
        padding: 0 15px;
    }

    .logo,
    .header__button,
    .header__user,
    .social__icon,
    .header__link,
    .motto__quote {
        display: none;
    }

    .header .header {
        &__box {
            position: relative;
            flex-wrap: nowrap;
            display: flex;
            justify-content: space-between !important;
            align-items: center;

            &::before {
                position: absolute;
                content: "";
                display: block;
                top: 50px;
                background: #c9c9c9;
                border-radius: 3px;
                min-width: 100%;
                height: 1px;
            }
        }

        &__links {
            margin-top: 0;
            flex-basis: auto;
        }

        &__logo {
            width: 106.66px;
            margin-right: 35px;
        }

        &__links {
            justify-content: unset;
        }

        &__logo--top {
            display: block;
        }

        &__menu--top {
            display: block;
        }

        &__tel {
            display: none;
        }

        &__email {
            position: relative;
            display: block !important;
            font-size: 16px;
            line-height: 19px;
            color: #383838;

            &::after {
                position: absolute;
                content: "";
                display: block;
                background-image: url(../images/email.png);
                background-repeat: no-repeat;
                width: 20px;
                height: 20px;
                left: -20px;
                bottom: -4px;
            }
        }

        &__phone {
            display: block !important;
            font-size: 16px;
            line-height: 19px;
            color: #383838;
        }

        &__inner {
            display: unset;
            flex-wrap: nowrap;
        }

        &__contact {
            display: flex;
            justify-content: space-between;
        }

        &__phone {
            position: relative;
            margin-left: 20px;

            &::after {
                position: absolute;
                content: "";
                display: block;
                background-image: url(../images/phone.png);
                background-repeat: no-repeat;
                width: 20px;
                height: 20px;
                left: -20px;
                bottom: -4px;
            }
        }

        &__email {
            position: relative;
            margin-left: 20px;
        }
    }

    .burger__menu {
        display: block !important;
        background: #1074eb;
        border-radius: 3px;
    }
}

// Tablet
@media (max-width: 752px) {
    .recommendations {
        background-size: 4990px auto;
        height: 530px !important;

        &__inner {
            align-items: flex-start !important;
        }

        &__wrap {
            &::before {
                top: 275px !important;
            }
        }

        &__inner {
            padding: 171px 0 0 191px !important;
        }

        &__info {
            white-space: nowrap;
            font-size: 20px !important;
        }
    }
}

@media (max-width: 720px) {
    .footer {
        &__info {
            flex-basis: 50%;
        }
    }
}

// Mobile L
@media (max-width: 600px) {
    .recommendations {
        background-size: 4990px auto;
        height: 530px !important;

        &__inner {
            padding: 224px 0 0 0px !important;
        }

        &__button {
            width: 171px !important;
            height: 51px !important;
        }

        &__info {
            &::after {
                margin-top: 45px !important;
            }
        }
    }
}

// Mobile L
@media (max-width: 550px) {
    .footer {
        &__info {
            flex-basis: 60%;
            margin-top: 20px;
        }

        &__support {
            margin-top: 20px;
        }

        &__box {
            justify-content: unset !important;
        }
    }
}

// Mobile S
@media (max-width: 430px) {
    .footer {
        padding: 0 8px;
        &__box {
            justify-content: unset !important;
        }

        &__logo {
            display: none !important;
        }

        &__info {
            flex-basis: 60%;
            margin-top: 20px;
        }

        &__email {
            order: 1;
        }

        &__time {
            font-size: 15px !important;
            margin-right: 44px;
        }

        &__tel {
            text-align: right;
        }

        &__support {
            flex-basis: 100%;
        }

        &__button {
            min-width: 100%;
            overflow: hidden;
        }

        &__location {
            width: 297px !important;
        }

        &__row {
            display: flex;
        }

        &__support__us {
            margin-top: 32px;
        }
    }
}

@media (max-width: 375px) {
    .wrapper {
        padding: 0 8px;
    }

    .header {
        &__icon {
            margin-right: 16px !important;
            margin-left: 0 !important;
        }
    }
}
