.slider {
    &__item {
        position: relative;
        cursor: pointer;
        display: block;
        height: 100% !important;
        padding-top: 5px;
        background-repeat: no-repeat;
        border-radius: 3px;
    }

    &__title {
        width: 456px;
        font-weight: 900;
        font-size: 64px;
        line-height: 77px;
        color: #ffffff;
    }

    &__description {
        width: 482px;
        font-size: 36px;
        line-height: 43px;
        color: #9c9c9c;
    }

    &__box {
        position: relative;
        display: flex;
        height: 500px;
        top: 360px;
        margin-left: 105px;
    }

    &__about {
        width: 185px;
        height: 55px;
        background: #1074eb;
        border-radius: 3px;
        border: none;
        color: white;
    } 

    &__img { 
        display: none !important;
    }
}

.slick {
    // Slider Sticky Arrows
    &__prev,
    &__next {
        position: relative;
        cursor: pointer;
        width: 55px;
        height: 55px;
        background-color: #1074eb;
        color: #1074eb;
        border-radius: 3px;
        z-index: 9999;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
    }

    &__prev {
        margin-left: 21px;
        &::before {
            display: block;
            content: "";
            width: 6.25px;
            height: 12.5px;
            background-image: url(../images/arrow.png);
            background-repeat: no-repeat;
        }
    }

    &__next {
        margin-left: 10px;
        &::before {
            display: block;
            content: "";
            width: 6.25px;
            height: 12.5px;
            background-image: url(../images/arrow.png);
            background-repeat: no-repeat;
            transform: rotate(180deg);
        }
    }

    // Carousel Arrows
    &-prev,
    &-next {
        position: absolute;
        cursor: pointer;
        width: 43px;
        height: 43px;
        background-color: #1074eb;
        color: #1074eb;
        border-radius: 3px;
        z-index: 9999;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
    }

    &-prev {
        top: -91px;
        left: 92%;
        &::before {
            display: block;
            content: "";
            width: 6.25px;
            height: 12.5px;
            background-image: url(../images/arrow.png);
            background-repeat: no-repeat;
            opacity: 1;
        }
    }

    &-next {
        top: -91px;
        right: 0;
        &::before {
            display: block;
            content: "";
            width: 6.25px;
            height: 12.5px;
            background-image: url(../images/arrow.png);
            background-repeat: no-repeat;
            transform: rotate(180deg);
            opacity: 1;
        }
    }

    &_arrow {
        position: absolute;
        cursor: pointer;
        width: 43px;
        height: 43px;
        background-color: #1074eb;
        color: #1074eb;
        border-radius: 3px;
        z-index: 9999;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
    }
}

// Advantage
.advantage {
    .slick-slide {
        margin: 0 15px;
    }

    .slick-list {
        margin: 0 -15px;
    }
}

.slick-dots {
    position: relative !important;

    li.slick-active button:before {
        color: #1074eb;
        font-size: 14px;
    }

    li button:before {
        color: #1074eb;
        opacity: 0.3;
        font-size: 14px;
    }
}

.slick-track {
    display: flex !important;
}

.slick-slide {
    height: auto;
}

.slide_arrow_next {
    position: absolute;
    width: 30px;
    height: 30px;
    top: -73px;
    right: 0px;
}

.slide_arrow_prev {
    position: absolute;
    top: -73px;
    right: 40px;
    width: 30px;
    height: 30px;
}

.slide {
    &-next {
        position: absolute;
        top: 25%;
        right: -20px;
        width: 43px;
        height: 43px;
    }

    &-prev {
        position: absolute;
        top: 25%;
        left: -36px;
        width: 43px;
        height: 43px;
        background: $primary;

        &::before {
            transform: rotate(0deg);
        }
    }
}

.arrow-next {
    width: 43px;
    height: 43px;
    position: absolute;
    right: 0;
}

.arrow-perv {
    width: 43px;
    height: 43px;
    position: absolute;
    margin-left: 20px;
    right: 53px;

    &::before {
        transform: rotate(0deg);
    }
}

// Centering slides
.slick-slide {
    margin: 0 26px;
}

.slick-list {
    margin: 0 -26px;
}
