@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";
@import "slider";
@import "media";

.header {
    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    &__charts {
        display: inline;
        fill: black;

        &:hover {
            svg path {
                fill: $primary;
            }
        }
    }

    &__logo--top {
        display: none;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    &__top {
        padding-top: 15px;
        padding-bottom: 15px;
        background: #f7f7f7;
        width: 100%;
        overflow: hidden;
    }

    &__menu--top {
        margin-left: 28px;
        display: none;
    }

    &__bottom {
        padding-top: 20px;
        padding-bottom: 22px;
    }

    &__list {
        display: flex;
    }

    &__link {
        font-size: 16px;
        line-height: 19px;
        color: #383838;
        margin-right: 30px;

        &:last-child {
            margin: 0;
        }
    }

    .header__link:hover {
        color: $primary;
    }

    &__motto {
        display: flex;
        align-items: center;
    }

    &__icon {
        margin-left: 25px;

        &:nth-child(4) {
            display: none !important;
        }
    }

    &__images {
        display: flex;
    }

    &__search {
        position: relative;
    }

    &__button {
        cursor: pointer;
        width: 165px;
        max-width: 100%;
        height: 40px;
        background: #ff9900;
        border-radius: 3px;
        border: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color: #ffffff;
    }

    &__tel {
        font-size: 25px;
        line-height: 30px;
        color: #383838;
    }

    &__email {
        display: none;
    }

    &__phone {
        display: none;
    }

    &__user {
        cursor: pointer;
        height: 40px;
        width: 37px;
        background-image: url("../images/user.svg");
        background-repeat: no-repeat;
        background-size: cover;
        border: none;
    }

    &__cart {
        display: none;
        position: relative;
        width: 279px;
        height: 386px;
        padding: 10px 10px 10px 10px;
        background: #1074eb;
        border-radius: 3px;
        margin: auto;

        &-inner {
            width: 100%;
            border-radius: 3px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }

        &-top {
            overflow: hidden;
        }

        &-bottom {
            position: relative;
            display: flex;
            justify-content: space-between;
            background: #1074eb;
            height: 60px;

            &::after {
                position: absolute;
                content: "";
                display: block;
                width: 259px;
                height: 1px;
                margin-top: -22px;
                background: #ffffff;
                opacity: 0.3;
                border-radius: 2px;
            }
        }

        &-left,
        &-wrap {
            display: flex;
        }

        &-right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
        }

        &-img {
            width: 40px;
            height: 40px;
            object-fit: cover;
            border-radius: 9px;
        }

        &-line {
            width: 1px;
            height: 40px;
            background: rgba(255, 255, 255, 0.5);
            border-radius: 3px;
            margin-left: 10px;
            margin-right: 10px;
        }

        &-title {
            font-size: 12px;
            text-transform: uppercase;
            color: #f7f7f7;
        }

        &-desc {
            font-size: 10px;
            color: #f7f7f7;
        }

        &-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: rgba(255, 255, 255, 0.3);
            padding: 10px;
            width: 260px;
            border-radius: 3px;
        }

        &-minus,
        &-plus {
            width: 13.36px;
            height: 25px;
            background: #383838;
            color: white;
            border-radius: 3px 0px 0px 3px;
        }

        &-number {
            width: 22px;
            height: 25px;
            color: white;
            background: rgba(0, 0, 0, 0);
        }

        &-remove {
            display: inline;
            width: 12px;
        }

        &-price {
            display: block;
            font-size: 13px;
            color: #ffffff;
        }

        &-button {
            cursor: pointer;
            border: none;
            width: 90px;
            height: 29px;
            background: #383838;
            border-radius: 3px;
            color: white;
        }

        &-btn {
            cursor: pointer;
            border: none;
            width: 160px;
            height: 29px;
            background: #ff9900;
            border-radius: 3px;
            color: white;
        }
    }
}

.motto {
    &__item {
        position: relative;
    }

    &__quote {
        &--gray {
            padding-right: 40px;
            color: #9c9c9c;

            &::before {
                position: absolute;
                content: "";
                display: block;
                background-image: url(../images/Ellipse.png);
                background-repeat: no-repeat;
                width: 30px;
                height: 5px;
                right: 0;
                border-radius: 7px;
                top: 10px;
            }
        }
    }
}

.form {
    &__input {
        padding-left: 10px;
        padding-right: 74px;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color: #9c9c9c;
        border-radius: 3px;
        border: 1px solid #c9c9c9;
        outline: none;
        width: 292px;
        height: 40px;
        max-width: 100%;
        margin-left: 15px;
    }

    &__button {
        cursor: pointer;
        position: absolute;
        content: "";
        display: block;
        right: 5px;
        top: 5px;
        width: 66px;
        height: 30px;
        border: none;
        background: #1074eb;
        border-radius: 3px;
        font-family: "Lato";
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 18px;
        color: #ffffff;
    }
}

.social__icon {
    margin-right: 10px;
    margin-top: 5px;
    display: inline;
}

.navigation {
    padding-bottom: 9px;

    &__box,
    &__block {
        display: flex;
    }

    &__item {
        padding-left: 23px;
    }

    &__link {
        font-style: normal;
        font-size: 16px;
        line-height: 19px;
        color: $black;
        white-space: nowrap;
        transition: all 0.2s;
    }

    .navigation__link:hover {
        color: $primary;
    }

    &__list {
        display: flex;
        align-items: center;
        overflow: hidden;
    }
}

.menu {
    &__button {
        display: flex;
        align-items: center;
        background: #1074eb;
        border-radius: 3px;
        border: none;
        height: 60px;
        width: 136px;
        justify-content: space-around;

        &:hover ~ .menu__content {
            visibility: visible;
        }
    }

    &__title {
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        z-index: 50;
        color: #ffffff;
        pointer-events: none;
    }

    &__icon {
        left: 15px;
        top: 18px;
        z-index: 100;
        pointer-events: none;
    }

    &__links {
        position: relative;
        font-size: 16px;
        color: #ffffff;
        padding: 16px 18px;
        color: #fff;
        text-align: left;
        width: 100%;

        &::before {
            position: absolute;
            content: "";
            display: inline;
            background-image: url(../images/arrow-left-2.png);
            background-repeat: no-repeat;
            width: 19px;
            height: 19px;
            left: 220px;
        }

        &::after {
            position: absolute;
            content: "";
            width: 226px;
            height: 1px;
            left: 10px;
            top: 0;
            background: #ffffff;
            opacity: 0.3;
            transition: 0.2s;
        }

        &:last-child {
            margin-bottom: 20px;
            &::after {
                display: none !important;
            }
        }
    }

    &__list {
        width: 256px;
        padding-right: 15px !important;
        z-index: 1000;

        &:hover {
            border-right: 1px solid rgba(255, 255, 255, 0.3);

            .menu__links::after {
                width: 100%;
                left: 0;
            }
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        visibility: hidden;
        position: absolute;
        z-index: 1;
        opacity: 0;
        left: 0;
        top: 0;
        border-radius: 3px 0px 0px 0px;
        transition: 0.3s;
        padding-top: 60px;
        background: #1074eb;
        width: 256px;

        &:hover {
            opacity: 1;
            visibility: visible;
        }
    }

    &__item {
        display: flex;
        width: 100%;
        height: 50px;
        transition: 0.3s;

        &:hover {
            background-color: rgba(255, 255, 255, 0.3);

            .categories {
                visibility: visible;
                transition: 0s;
                opacity: 1;
            }

            .menu__links::after {
                visibility: hidden;
            }
        }
    }
}

.categories {
    position: relative;
    display: flex;
    visibility: hidden;
    width: 493px;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: $primary;
    position: absolute;
    left: 256px;
    top: 0;
    height: 100%;
    padding: 60px 50px 0 15px;
    margin-right: 10px;
    opacity: 0;
    border-right: 10px solid #1074eb;
    border-radius: 0px 3px 0px 0px;
    transition: 0.3s;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background-clip: padding-box;
        margin: 10px 0;
        border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb {
        background: #383838;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .menu__content &:hover {
        opacity: 1;
        visibility: visible;
    }

    &__item {
        display: flex;
        align-items: center;
        margin-left: 30px;
    }

    &__links {
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    &__number {
        color: $gray;
    }

    &__block {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

.plus {
    display: inline;
    color: white;
    margin-right: 12px;
    margin-top: 15px;

    &__two {
        display: none;
    }
}

.carousel {
    position: relative;
    overflow: hidden;
    padding-bottom: 100px;

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 43px;
        color: #383838;
        padding-bottom: 70px;
    }

    &__product {
        margin: 0 15px;
        transition: all 0.3s;

        &:hover {
            transform: scale(1.01);
        }
    }
}

.product {
    &__wrap {
        position: relative;

        &::before {
            cursor: pointer;
            position: absolute;
            display: block;
            content: "";
            background-image: url(../images/heart-line.svg);
            background-repeat: no-repeat;
            top: 18px;
            right: 15px;
            width: 23px;
            height: 23px;
        }
    }

    &__chart {
        display: none;
    }

    &__body {
        position: relative;
        width: 100%;
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    &__sale {
        position: absolute;
        content: "";
        display: block;
        width: 67px;
        height: 24px;
        background: #ff9900;
        border-radius: 0px 3px 3px 0px;
        text-align: center;
        top: 17px;
        font-family: "Lato", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
        text-transform: uppercase;

        &--red {
            background: #e92626 !important;
        }
    }

    &__icon {
        fill: $primary;
    }

    &__title {
        font-family: "Lato";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #9c9c9c;
        padding-top: 20px;
        padding-bottom: 7px;
    }

    &__description {
        display: block;
        margin-bottom: 32px;
    }

    &__price {
        font-family: "Lato";
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #383838;
    }

    &__old__price {
        font-family: "Lato";
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        text-decoration-line: line-through;
        color: #c9c9c9;
    }

    &__block {
        display: flex;
        justify-content: space-between;
    }

    &__button {
        position: relative;
        cursor: pointer;
        width: 100%;
        height: 55px;
        margin-top: 30px;
        border: none;
        background: $primary;
        border-radius: 3px;
        font-family: "Lato";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;

        &::after {
            position: absolute;
            display: block;
            content: "";
            width: 30px;
            height: 30px;
            background-image: url(../images/shopping_cart.svg);
            background-repeat: no-repeat;
            top: 18px;
            left: 57px;
        }
    }
}

.recommendations {
    background-image: url(../images/background.svg);
    background-repeat: no-repeat;
    max-width: 100%;
    background-position: center;
    height: 300px;
    overflow: hidden;
    padding-bottom: 100px;

    &__wrap {
        position: relative;
        &::after {
            position: absolute;
            content: "";
            display: block;
            background-image: url(../images/recommend.png);
            background-repeat: no-repeat;
            width: 266px;
            height: 266px;
            top: 14px;
            left: 14px;
        }

        &::before {
            position: absolute;
            content: "";
            display: block;
            background-image: url(../images/recommend-2.png);
            background-repeat: no-repeat;
            width: 266px;
            height: 266px;
            top: 14px;
            right: 126px;
        }
    }

    &__info {
        display: block;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #ffffff;
        margin-bottom: 23px;

        &::after {
            display: block;
            position: absolute;
            content: "";
            width: 100px;
            height: 1px;
            margin-top: 23px;
            background-color: white;
        }
    }

    &__button {
        cursor: pointer;
        width: 262px;
        height: 55px;
        background: #ffffff;
        border: none;
        border-radius: 3px;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #1074eb;
        margin-top: 53px;
        margin-right: 65px;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 0 0 0;
    }
}

.deals {
    padding-top: 100px;
    overflow: hidden;
}

.advantage {
    padding-top: 100px;
    padding-bottom: 100px;

    &__header {
        font-weight: 400;
        font-size: 36px;
        line-height: 43px;
        padding-bottom: 70px;
        color: #383838;

        &-mobile {
            display: none;
        }
    }

    &__item {
        width: 263px;
        max-width: 100%;
        min-height: 250px;
        padding: 35px 17px;
        background: #f7f7f7;
        border-radius: 3px;
        overflow: hidden;
    }
}

.item {
    &__wrap {
        display: flex;
        justify-content: center;
    }

    &__img {
        margin-bottom: 30px;
    }

    &__title {
        display: block;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: $black;
        margin-bottom: 20px;
    }

    &__description {
        display: block;
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #9c9c9c;
    }
}

.footer {
    padding-top: 53px;
    padding-bottom: 50px;
    background-color: $black;

    &__box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__logo {
        display: block;
        max-width: 100%;
        margin-bottom: 25px;
    }

    &__email {
        display: block;
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
        margin-bottom: 20px;
    }

    &__time {
        display: block;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
        margin-bottom: 20px;
    }

    &__tel {
        display: block;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
        margin-bottom: 20px;
    }

    &__location {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #9c9c9c;
        width: 245px;
    }

    &__title {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #ffffff;
        margin-bottom: 20px;
        white-space: nowrap;
    }

    &__header {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #ffffff;
        margin-top: 26px;
        margin-bottom: 26px;
        white-space: nowrap;
    }

    &__link {
        display: block;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #9c9c9c;
        margin-top: 13px;
        transition: all 0.2s;
        white-space: nowrap;

        &:hover {
            color: white;
        }
    }

    &__social__link {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #9c9c9c;
        transition: all 0.2s;

        &:hover {
            color: white;
        }
    }

    &__support-us {
        display: flex;
    }
    &__img {
        margin-right: 10px;
        margin-bottom: 33px;
    }

    &__button {
        cursor: pointer;
        width: 262px;
        max-width: 100%;
        height: 55px;
        display: block;
        position: relative;
        right: 0;
        top: 0;
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
        background: $primary;
        border: none;
        margin-bottom: 30px;

        &::after {
            position: absolute;
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background-image: url(../images/user-2.png);
            background-repeat: no-repeat;
            left: 37px;
            top: 18px;
        }
    }

    &__image {
        margin-right: 10px;
        display: inline;
    }

    &__copyright {
        margin-top: 53px;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: #9c9c9c;
    }
}

.burger__menu {
    display: none;
}

.path {
    &__block {
        display: flex;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    &__return {
        color: #9c9c9c;

        &:hover {
            text-decoration: underline;
        }
    }

    &__title {
        font-size: 16px;
        line-height: 19px;
        color: #383838;
        white-space: nowrap;
    }
}

.catalog {
    margin-bottom: 50px;

    &__block {
        display: flex;
        margin-top: 20px;
    }

    &__title {
        font-size: 36px;
        font-weight: 400;
        line-height: 43px;
        color: #383838;
        margin-top: 50px;
        margin-bottom: 50px;
        white-space: nowrap;
    }

    .arrow {
        &__left {
            display: inline;
        }
    }

    &__inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    &__top-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item {
        width: 100%;
        max-width: 440px;
        min-height: 218px;
    }

    .sort {
        &__title {
            margin-left: 50px;
            margin-right: 10px;
            font-size: 16px;
            line-height: 19px;
            white-space: nowrap;
            color: #9c9c9c;
        }
        &__curent {
            font-size: 16px;
            line-height: 19px;
            color: #1074eb;
            white-space: nowrap;
        }

        &__number {
            font-size: 16px;
            line-height: 19px;
            color: #1074eb;
            white-space: nowrap;
            border: none;
        }

        &__item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__main {
        display: flex;
    }

    &__filters {
        width: 263px;
        height: 898px;
        background: $light-gray;
        margin-right: 29px;
        padding: 30px 20px 0 20px;
    }

    .filter {
        &__title {
            display: block;
            font-size: 18px;
            line-height: 22px;
            font-weight: 600;
            color: #383838;
            margin-bottom: 10px;
        }

        &__option {
            display: block;
            width: 100%;
            height: 45px;
            padding: 13px;
            border: 0;
            background-image: url(../images/arrow-blue.png);
            background-repeat: no-repeat;
            appearance: none;
            background-position-x: 190px;
            background-position-y: 15px;
            outline: none;
            margin-bottom: 20px;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            color: #9c9c9c;
        }

        &__sub-categories {
            position: relative;

            &::after {
                position: absolute;
                content: "";
                display: block;
                background-repeat: no-repeat;
                width: 100%;
                height: 1px;
                bottom: -12px;
                background-color: #c9c9c9;
                border-radius: 1px;
            }
        }

        &__block {
            display: flex;
        }

        &__input {
            position: relative;
            width: 106px;
            height: 45px;
            border: none;
            padding: 13px;
            font-size: 16px;
            line-height: 19px;
            color: #9c9c9c;
            margin-right: 11px;
            border: 1px solid #f7f7f7;
            border-radius: 3px;
        }

        &__rating {
            position: relative;
            margin-top: 25px;

            &::after {
                position: absolute;
                content: "";
                display: block;
                background-repeat: no-repeat;
                width: 100%;
                height: 1px;
                bottom: -12px;
                background-color: #c9c9c9;
                border-radius: 1px;
            }
        }

        &__price {
            position: relative;
            &::before {
                position: absolute;
                content: "";
                display: block;
                width: 2.25px;
                height: 9.01px;
                background-image: url(../images/points.png);
                background-repeat: no-repeat;
                z-index: 99;
                right: 110px;
                top: 51px;
                border-radius: 50%;
            }

            &::after {
                position: absolute;
                content: "";
                display: block;
                background-repeat: no-repeat;
                width: 100%;
                height: 1px;
                bottom: -12px;
                background-color: #c9c9c9;
                border-radius: 1px;
            }
        }
    }

    .brend,
    .filter__wrap,
    .item {
        position: relative;
        margin-top: 20px;
        &::after {
            position: absolute;
            content: "";
            display: block;
            background-repeat: no-repeat;
            width: 100%;
            height: 1px;
            bottom: -12px;
            background-color: #c9c9c9;
            border-radius: 1px;
        }

        &__title {
            display: block;
            font-size: 18px;
            color: #383838;
            margin-bottom: 20px;
            font-weight: 600;
        }
        &__input {
            display: flex;
            flex-direction: column;
            width: 19px;
            height: 19px;
            margin-right: 10px;
            accent-color: $primary;
        }

        &__block {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        &__block {
            display: block;
            position: relative;
            padding-left: 32px;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 22px;
            user-select: none;
            font-size: 16px;
            line-height: 19px;
            color: #383838;
        }

        &__block input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            width: 19px;
            height: 19px;
            border: 2px solid #9c9c9c;
        }

        .checkmark:after {
            content: "";
            position: absolute;
            display: block;
        }

        &__block input:checked ~ .checkmark:after {
            display: none;
        }

        &__block .checkmark:after {
            left: 4px;
            top: 1px;
            width: 7px;
            height: 10px;
            border: solid #1074eb;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
        }
    }

    .rating {
        position: relative;
        margin-top: 20px;

        &::after {
            position: absolute;
            content: "";
            display: block;
            background-repeat: no-repeat;
            width: 100%;
            height: 1px;
            bottom: -15px;
            background-color: #c9c9c9;
            border-radius: 1px;
        }

        &__title {
            display: block;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #383838;
            margin-bottom: 20px;
        }

        &__inner {
            display: flex;
            justify-content: space-between;
        }
        &__star {
            object-fit: cover;
        }
    }
}

.button {
    &__more {
        display: none;
    }
}

.cart {
    &__pages {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;

        .page {
            &__button {
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                width: 43px;
                height: 43px;
                background-color: $primary;
                margin-left: 23px;
                margin-right: 23px;
                border: none;
            }

            &__link {
                padding-right: 20px;
                transition: all 0.2s;

                &:hover {
                    color: $primary;
                }
            }
        }
        .arrow__two {
            transform: rotate(180deg);
        }
    }
}

.cart {
    &__wrap {
        position: relative;
    }

    &__sale {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #fff;
        text-transform: uppercase;
    }

    &__inner {
        display: flex;
        margin-bottom: 50px;
    }

    &__img-two {
        display: none;
    }

    &__block {
        position: relative;
        width: 555px;
        height: 555px;
        background: #f7f7f7;
        margin-left: 30px;
        padding: 30px 30px 50px 30px;
    }

    &__title {
        position: relative;
        font-weight: 400;
        font-size: 36px;
        line-height: 43px;

        &::after {
            position: relative;
            content: "";
            display: block;
            min-width: 100%;
            height: 1px;
            background-color: #c9c9c9;
            border-radius: 1px;
            margin-top: 30px;
        }

        &-gray {
            font-weight: 400;
            font-size: 36px;
            line-height: 43px;
            color: #9c9c9c;
        }
    }

    &__features {
        max-width: 100%;
        width: 1140px;
        height: 382px;
        background: #f7f7f7;
        border-radius: 3px;
        padding: 30px 30px 30px 30px;
        margin-bottom: 30px;
    }

    &__description {
        display: block;
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #383838;
        padding-bottom: 32px;
    }
}

.item {
    &__box {
        display: flex;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    &__sup-title {
        color: #9c9c9c;
        white-space: nowrap;

        &:last-child {
            color: #383838;
        }
    }
}

.comments {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #c9c9c9;

    &__block {
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
    }

    &__link {
        white-space: nowrap;
        color: #9c9c9c;
    }

    .star {
        display: block;
        padding-right: 24px;
    }
}

.patterns {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;

    &::after {
        position: absolute;
        content: "";
        display: block;
        min-width: 100%;
        height: 1px;
        background-color: #c9c9c9;
        border-radius: 1px;
        margin-top: 30px;
    }

    .pattern {
        &__title {
            color: #9c9c9c;
            font-size: 16px;
        }

        &__model-title {
            color: #9c9c9c;
            font-size: 16px;
            margin-left: 30px;
        }

        &__colored {
            font-size: 16px;
            color: #383838;
            margin-left: 5px;
        }
    }
}

.price {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;

    &::before {
        position: absolute;
        content: "";
        display: block;
        min-width: 100%;
        height: 1px;
        background-color: #c9c9c9;
        border-radius: 1px;
        margin-top: 100px;
    }

    .item {
        &__price {
            font-weight: 500;
            font-size: 36px;
            line-height: 43px;
            color: #383838;
        }

        &__old-price {
            font-weight: 500;
            font-size: 36px;
            line-height: 43px;
            text-decoration-line: line-through;
            color: #c9c9c9;
            margin-left: 30px;
        }

        &__quantity {
            &-box {
                display: flex;
                justify-content: space-between;
            }
        }

        &__button {
            width: 120px;
            height: 45px;
            background: #ffffff;
            border: 1px solid #9c9c9c;
            border-radius: 3px;
        }

        &__number {
            font-size: 16px;
            line-height: 19px;
            color: #1074eb;
        }
    }
}

.content {
    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 30px;
    }
    &__block {
        display: flex;
        align-items: center;
    }
}

.cart {
    &__button {
        cursor: pointer;
        width: 263px;
        height: 55px;
        background: #1074eb;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
        border: none;
    }
}

.feature {
    &__title {
        position: relative;
        margin-bottom: 30px;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #383838;

        &::after {
            position: absolute;
            content: "";
            display: block;
            min-width: 100%;
            height: 1px;
            background-color: #c9c9c9;
            border-radius: 1px;
            margin-top: 30px;
        }
    }

    &__item {
        display: block;
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 22px;
        color: #9c9c9c;
    }

    &__description {
        display: block;
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 22px;
        color: #383838;
    }

    &__inner {
        display: flex;
        gap: 30px;
    }

    &__block {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 30px;
    }
}

.description {
    margin-bottom: 50px;

    &__inner {
        display: flex;
    }

    &__box {
        width: 555px;
        max-width: 100%;
        min-height: 369px;
        background: #f7f7f7;
        border-radius: 3px;
        padding: 30px 30px 30px 30px;
        overflow: hidden;
    }

    &__title {
        font-size: 24px;
        line-height: 29px;
        color: #383838;
        font-weight: 500;
        margin-bottom: 30px;
    }

    &__article {
        display: block;
        position: relative;
        font-size: 18px;
        line-height: 22px;
        color: #9c9c9c;
        margin-top: 60px;

        &::before {
            position: absolute;
            content: "";
            display: block;
            min-width: 100%;
            height: 1px;
            background-color: #c9c9c9;
            border-radius: 1px;
            margin-top: -28px;
        }
    }
}

.reviews {
    &__slider {
        width: 555px;
        max-width: 100%;
        min-height: 369px;
        background: #f7f7f7;
        border-radius: 3px;
        padding: 30px 30px 30px 30px;
        margin-left: 30px;
    }

    &__title {
        position: relative;
        font-size: 24px;
        line-height: 29px;
        color: #383838;
        font-weight: 500;
        margin-bottom: 30px;

        &::after {
            position: absolute;
            content: "";
            display: block;
            min-width: 100%;
            height: 1px;
            background-color: #c9c9c9;
            border-radius: 1px;
            margin-top: 30px;
        }
    }

    &__slider-description {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #9c9c9c;
        margin-top: 20px;
    }

    &__content {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
    }

    &__wrap {
        display: flex;
        align-items: center;
    }
}

.man {
    &__name {
        font-size: 18px;
        line-height: 22px;
        color: #383838;
        font-weight: 600;
        margin-left: 10px;
        white-space: nowrap;
    }

    &__img {
        width: 70px;
        height: 70px;
        border-radius: 100%;
        object-fit: cover;
        flex: 0 0 70px;
    }
}

.stars {
    display: flex;
    padding-left: 20px;
}

.star__img {
    padding-left: 20px;
}

.not {
    &__available {
        color: $red;
        font-size: 16px;

        &-two {
            color: $red;
            font-size: 16px;
            display: none;
        }
    }
}

.return {
    &__link {
        color: #9c9c9c;
    }
}

.red {
    &__point {
        margin-top: 3px;
        margin-right: 5px;
        object-fit: cover;
    }
}

.shop {
    &__cart {
        margin-right: 10px;
    }
}

.heart {
    &__image {
        position: absolute;
        top: 35px;
        right: 30px;
    }
}

.product__sale-red {
    background: #e92626;
    margin-top: 30px;
}

.contacts {
    &__title {
        padding-top: 30px;
        padding-bottom: 67px;
        font-size: 36px;
        font-weight: 500;
        color: #383838;
    }

    &__time {
        font-size: 18px;
        line-height: 22px;
        color: #383838;
        margin-bottom: 30px;
    }

    .map {
        position: relative;
        margin-bottom: 50px;

        &__button {
            position: absolute;
            top: 10px;
            left: 10px;
            cursor: pointer;
            width: 339px;
            height: 88px;
            background: #ffffff;
            border-radius: 3px;
            border: none;
            font-size: 18px;
            line-height: 22px;
            color: #9c9c9c;
        }
    }

    .modal {
        &__content {
            position: absolute;
            left: 10px;
            top: 15px;
        }
    }

    .slider {
        &__item {
            margin-right: 30px;
        }

        &__desc {
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 50px;
            color: #383838;
        }

        &__location {
            position: relative;
        }
    }

    .google {
        &__map {
            width: 100%;
        }
    }
}

.location {
    &__img {
        margin-bottom: 20px;
    }
}

.contacts {
    &__inner {
        display: flex;
    }

    &__header {
        font-size: 24px;
        line-height: 29px;
        color: #9c9c9c;
        margin-bottom: 34px;
        font-weight: 600;
    }

    &__block {
        display: flex;
        align-items: center;
        margin-bottom: 54px;
    }

    &__img {
        &:first-child {
            margin-left: -20px;
        }
    }

    &__link {
        font-size: 18px;
        line-height: 22px;
        color: #383838;
        margin-right: 20px;
        margin-top: -20px;
        white-space: nowrap;
    }
}

.social {
    &__networks {
        margin-bottom: 178px;
    }

    &__title {
        font-size: 24px;
        line-height: 29px;
        color: #9c9c9c;
        margin-bottom: 30px;
        font-weight: 600;
    }

    &__image {
        padding-right: 15px;
    }

    &__inner {
        display: flex;
    }
}

.requisites {
    width: 652px;
    height: 100%;
    background: #f7f7f7;
    border-radius: 3px;
    padding: 30px 58px 30px 30px;
    margin-left: 84px;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        font-size: 24px;
        line-height: 29px;
        color: #9c9c9c;
        margin-bottom: 30px;
    }

    &__info {
        display: block;
        font-size: 18px;
        line-height: 22px;
        color: #383838;
        margin-bottom: 30px;
    }
}

.delivery {
    padding-top: 40px;
    padding-bottom: 30px;

    &__box {
        display: flex;
    }

    &__warp {
        position: relative;
        &::after {
            position: absolute;
            content: "";
            display: block;
            width: 100%;
            background: #c9c9c9;
            border-radius: 1px;
            margin-top: -4px;
            height: 1px;
        }

        &::before {
            position: absolute;
            content: "";
            display: block;
            width: 100%;
            background: #c9c9c9;
            border-radius: 1px;
            margin-top: -270px;
            height: 1px;
        }
    }

    .shipping {
        position: relative;
        padding-top: 30px;
        padding-bottom: 30px;

        &::after {
            position: absolute;
            content: "";
            display: block;
            width: 100%;
            background: #c9c9c9;
            border-radius: 1px;
            margin-top: 10px;
            height: 1px;
        }

        *::after {
            content: none;
        }
    }

    .grievances {
        position: relative;
        margin-top: 30px;
        width: 555px;
        height: 100%;
        padding: 30px 58px 30px 30px;
        background: #f7f7f7;
        border-radius: 3px;

        &__block {
            position: relative;
            &::after {
                position: absolute;
                content: "";
                display: block;
                width: 100%;
                background: #c9c9c9;
                border-radius: 1px;
                margin-top: -4px;
                height: 1px;
            }
        }
    }

    &__link {
        color: $primary;
    }

    &__item-title {
        font-size: 24px;
        line-height: 29px;
        color: #383838;
        margin-bottom: 20px;
        font-weight: 600;
    }

    &__block {
        width: 555px;
        height: 100%;
        background: #f7f7f7;
        border-radius: 3px;
        padding: 30px 30px 30px 30px;
        margin-right: 30px;
    }

    &__title {
        font-weight: 400;
        font-size: 36px;
        line-height: 43px;
        color: #383838;
        margin-bottom: 20px;
    }

    &__sup-desc {
        position: relative;
        font-size: 18px;
        line-height: 22px;
        color: #9c9c9c;
        display: block;
        margin-bottom: 20px;
        margin-top: 30px;

        &::after {
            position: absolute;
            content: "";
            display: block;
            width: 100%;
            background: #c9c9c9;
            border-radius: 1px;
            margin-top: 15px;
            height: 1px;
        }
    }

    &__sub-desc {
        position: relative;
        font-size: 18px;
        line-height: 22px;
        color: #9c9c9c;
        margin-top: 30px;
        margin-bottom: 20px;

        &::after {
            position: absolute;
            content: "";
            display: block;
            width: 100%;
            background: #c9c9c9;
            border-radius: 1px;
            margin-top: 15px;
            height: 1px;
        }
    }

    &__header {
        margin-bottom: 20px;
        margin-top: 30px;
    }

    &__colored {
        color: $orange;
    }

    &__sup-title {
        display: block;
        margin-bottom: 20px;
        margin-top: 30px;
        font-size: 18px;
        line-height: 22px;
        color: #9c9c9c;
        font-weight: 400;
    }

    &__description {
        margin-bottom: 20px;
        margin-top: 30px;
        font-size: 18px;
        line-height: 22px;
        color: #9c9c9c;
    }

    &__sub-desc {
        margin-bottom: 20px;
        margin-top: 30px;
        font-size: 18px;
        line-height: 22px;
        color: #9c9c9c;
    }

    &__sub-title {
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 22px;
        color: #9c9c9c;
    }
}

.note {
    position: relative;

    &::after {
        position: absolute;
        content: "";
        display: block;
        width: 100%;
        background: #c9c9c9;
        border-radius: 1px;
        margin-top: 15px;
        height: 1px;
    }
}

.payment {
    width: 555px;
    height: 1156px;
    background: #f7f7f7;
    border-radius: 3px;
    margin-bottom: 20px;

    &__title {
        font-weight: 400;
        font-size: 36px;
        line-height: 43px;
        color: #383838;
    }

    &__box {
        padding: 30px 30px 30px 30px;
    }

    &__desc {
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 22px;
        margin-top: 17px;
        color: #9c9c9c;
    }

    &__description {
        margin-bottom: 16px;
        margin-top: 14px;
        font-size: 18px;
        line-height: 22px;
        color: #9c9c9c;
    }
}

.exchange {
    width: 555px;
    height: 1122px;
    background: #f7f7f7;
    border-radius: 3px;
    margin-top: 30px;

    &__title {
        font-weight: 400;
        font-size: 24px;
        line-height: 43px;
        color: #383838;
    }

    &__box {
        padding: 30px 30px 30px 30px;
    }

    &__title {
        font-size: 24px;
        line-height: 29px;
        color: #383838;
        margin-bottom: 20px;
    }

    &__colored {
        color: $orange;
    }

    &__description {
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 22px;
        color: #9c9c9c;
    }

    &__sub-description {
        position: relative;
        display: block;
        margin-bottom: 20px;
        margin-top: 22px;
        font-size: 18px;
        line-height: 22px;
        color: #9c9c9c;

        &::after {
            position: absolute;
            content: "∙";
            display: block;
            color: #1074eb;
            border-radius: 100%;
            width: 2px;
            top: 0;
            margin-left: -11px;
            height: 2px;
        }
    }
}

.modal {
    &__content {
        width: 1140px;
        height: 643px;
        background: #ffffff;
        padding: 40px 40px 40px 40px;
        border-radius: 3px;
    }
    &__title {
        font-size: 36px;
        line-height: 43px;
        margin-bottom: 40px;
        color: #383838;
        white-space: nowrap;
    }

    &__input {
        width: 100%;
        height: 55px;
        padding-left: 20px;
        font-size: 24px;
        line-height: 29px;
        color: #9c9c9c;
        background: #f7f7f7;
        border-radius: 3px;
        border: none;
        margin-bottom: 20px;
    }

    &__description {
        width: 568px;
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 22px;
        color: #383838;
        font-weight: 500;
    }

    &__wrap {
        position: relative;
        display: flex;
        justify-content: space-between;

        &::before {
            position: absolute;
            display: block;
            content: "";
            height: 1px;
            width: 100%;
            border-bottom: 1px solid #c9c9c9;
            top: -9px;
        }

        &:first-child {
            border: none;
        }
    }

    &__graph {
        display: block;
        font-size: 18px;
        line-height: 22px;
        text-align: right;
        color: #383838;
    }

    &__colored {
        font-size: 18px;
        line-height: 22px;
        color: #1074eb;
    }

    &__colored-two {
        font-size: 18px;
        line-height: 22px;
        text-align: right;
        color: #9c9c9c;
    }

    &__colored-three {
        font-size: 18px;
        line-height: 22px;
        text-align: right;
        color: #ff9900;
    }
}

// Modal window
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 99999;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 40px 60px 56px 64px;
    border: 1px solid #888;
    width: 1140px;
    max-width: 100%;
    max-height: 100%;
}

.close {
    cursor: pointer;
    display: block;
    position: absolute;
    content: "";
    object-fit: cover;
    right: 58px;
    width: 24px;
    height: 24px;
    top: 50px;
    color: #1074eb;
}

#overlay {
    visibility: hidden;
    opacity: 0;
    transition: 0.1s;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.5);
}

// Accordion
.accordion {
    &__item {
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 50px;
        white-space: nowrap;
        display: block;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}

.faq-title {
    display: block;
    color: #fff;
    cursor: pointer;
    white-space: nowrap;
}

.faq-input {
    width: 0;
    height: 0;
    appearance: none;
    position: absolute;
}

.faq-input:checked ~ .faq-text {
    display: block;
}

.faq-text {
    display: none;
    color: #fff;
}

.button {
    &__charts {
        visibility: hidden;
    }
}

.favorites,
.share {
    visibility: hidden;
}

.share {
    &__img {
        margin-top: 30px;
    }
}

.cart {
    padding-top: 20px;
    padding-bottom: 20px;

    &__header {
        margin-bottom: 50px;
        font-size: 36px;
        font-weight: 400;
        color: #383838;
    }

    &__content {
        max-width: 1140px;
        height: 500px;
        padding: 20px;
        background: #f7f7f7;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: scroll;
    }

    &__list {
        display: flex;
        justify-content: center; 
        font-size: 16px;
        line-height: 19px;
        color: #9c9c9c;
    }

    &__top-links {
        border-top: 1px solid #c9c9c9;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    &__link {
        padding-right: 113px;
        padding-top: 20px;
    }

    &__bottom-content {
        padding-top: 20px;
        padding-right: 184px;
        border-bottom: 1px solid #c9c9c9;
        padding-bottom: 20px;
    }

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    &__title-two {
        font-size: 22px;
        color: #383838;
    }

    &__price {
        font-size: 24px;
        color: #383838;
    }

    &__btn {
        width: 35px;
        height: 35px;
        cursor: pointer;
        border: none;
        background: #383838;
        border-radius: 3px;
        color: white;
        border-radius: 3px 3px 3px 3px;

        &-numb {
            cursor: pointer;
            border: none;
            width: 61px;
            height: 35px;
            background: #d9d9d9;
        }
    }

    &__button-wrap {
        display: flex;
    }

    &__remove-product {
        width: 30px;
        height: 30px;
        background: #383838;
        border-radius: 3px;
    }

    &__button-order {
        cursor: pointer;
        border: none;
        width: 315px;
        height: 54px;
        background: #ff9900;
        color: white;
        border-radius: 3px;
    }

    &-button__wrap {
        display: flex;
        justify-content: center;
    }
}
