@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";
@import "slider";
@import "media";

.header {
    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    &--logo {
        display: none;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    &__top {
        padding-top: 15px;
        padding-bottom: 15px;
        background: #f7f7f7;
        width: 100%;
        overflow: hidden;
    }

    &__bottom {
        padding-top: 20px;
        padding-bottom: 22px;
    }

    &__list {
        display: flex;
    }

    &__link {
        font-size: 16px;
        line-height: 19px;
        color: #383838;
        margin-right: 30px;

        &:last-child {
            margin: 0;
        }
    }

    .header__link:hover {
        color: $primary;
    }

    &__motto {
        display: flex;
        align-items: center;
    }

    &__icon {
        margin-right: 25px;

        &:hover {
            svg path {
                fill: $primary;
            }
        }

        &:last-child {
            margin: 0;
        }
    }

    &__images {
        display: flex;
    }

    &__search {
        position: relative;
    }

    &__button {
        cursor: pointer;
        width: 165px;
        max-width: 100%;
        height: 40px;
        background: #ff9900;
        border-radius: 3px;
        border: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color: #ffffff;
    }

    &__tel {
        font-size: 25px;
        line-height: 30px;
        color: #383838;
    }

    &__email {
        display: none;
    }

    &__phone {
        display: none;
    }

    &__user {
        cursor: pointer;
        height: 40px;
        width: 37px;
        background-image: url("../images/user.svg");
        background-repeat: no-repeat;
        background-size: cover;
        border: none;
    }
}

.motto {
    &__item {
        position: relative;
    }

    &__quote {
        &--gray {
            padding-right: 40px;
            color: #9c9c9c;

            &::before {
                position: absolute;
                content: "";
                display: block;
                background-image: url(../images/Ellipse.png);
                background-repeat: no-repeat;
                width: 30px;
                height: 5px;
                right: 0;
                border-radius: 7px;
                top: 10px;
            }
        }
    }
}

.form {
    &__input {
        padding-left: 10px;
        padding-right: 74px;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color: #9c9c9c;
        border-radius: 3px;
        border: 1px solid #c9c9c9;
        outline: none;
        width: 292px;
        height: 40px;
        max-width: 100%;
        margin-left: 15px;
    }

    &__button {
        cursor: pointer;
        position: absolute;
        content: "";
        display: block;
        right: 5px;
        top: 5px;
        width: 66px;
        height: 30px;
        border: none;
        background: #1074eb;
        border-radius: 3px;
        font-family: "Lato";
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 18px;
        color: #ffffff;
    }
}

.social__icon {
    margin-right: 10px;
    margin-top: 5px;
}

.navigation {
    padding-bottom: 9px;

    &__box {
        display: flex;
    }

    &__menu {
        cursor: pointer;
        display: flex;
        align-items: center;
        background: #1074eb;
        border-radius: 3px;
        border: none;
        height: 60px;
        width: 136px;
        justify-content: space-around;
    }

    &__item {
        padding-left: 23px;
    }

    &__link {
        font-style: normal;
        font-size: 16px;
        line-height: 19px;
        color: $black;
        white-space: nowrap;
        transition: all 0.2s;
    }

    .navigation__link:hover {
        color: $primary;
    }

    &__block {
        background: #f7f7f7;
        width: 100%;
    }

    &__list {
        display: flex;
        align-items: center;
        overflow: hidden;
    }
}

.menu {
    &__title {
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color: #ffffff;
    }
}

.carousel {
    padding-top: 100px;
    padding-bottom: 100px;

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 43px;
        color: #383838;
        padding-bottom: 70px;
    }

    &__product {
        margin: 0 15px;
    }
}

.product {
    &__wrap {
        position: relative;

        &::before {
            cursor: pointer;
            position: absolute;
            display: block;
            content: "";
            background-image: url(../images/heart-line.svg);
            background-repeat: no-repeat;
            top: 18px;
            right: 15px;
            width: 23px;
            height: 23px;
        }
    }

    &__body {
        position: relative;
        width: 265px;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        border-radius: 3px;
    }

    &__sale {
        position: absolute;
        content: "";
        display: block;
        width: 67px;
        height: 24px;
        background: #ff9900;
        border-radius: 0px 3px 3px 0px;
        text-align: center;
        top: 17px;
        font-family: "Lato", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
        text-transform: uppercase;

        &--red {
            background: #e92626 !important;
        }
    }

    &__icon {
        fill: $primary;
    }

    &__title {
        font-family: "Lato";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #9c9c9c;
        padding-top: 20px;
        padding-bottom: 7px;
    }
    &__description {
        display: block;
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #383838;
        padding-bottom: 32px;
    }
    &__price {
        font-family: "Lato";
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #383838;
    }

    &__old__price {
        font-family: "Lato";
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        text-decoration-line: line-through;
        color: #c9c9c9;
    }

    &__block {
        display: flex;
        justify-content: space-between;
    }

    &__button {
        position: relative;
        cursor: pointer;
        width: 263px;
        max-width: 100%;
        height: 55px;
        margin-top: 30px;
        border: none;
        background: $primary;
        border-radius: 3px;
        font-family: "Lato";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;

        &::after {
            position: absolute;
            display: block;
            content: "";
            width: 30px;
            height: 30px;
            background-image: url(../images/shopping_cart.svg);
            background-repeat: no-repeat;
            top: 18px;
            left: 57px;
        }
    }
}

.recommendations {
    &__wrap {
        position: relative;

        &::after {
            position: absolute;
            content: "";
            display: block;
            background-image: url(../images/recommend.png);
            background-repeat: no-repeat;
            width: 266px;
            height: 266px;
            top: 14px;
            left: 14px;
        }

        &::before {
            position: absolute;
            content: "";
            display: block;
            background-image: url(../images/recommend-2.png);
            background-repeat: no-repeat;
            width: 266px;
            height: 266px;
            top: 14px;
            right: 126px;
        }
    }

    &__info {
        display: block;
        position: absolute;
        content: "";
        right: 420px;
        top: 50px;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #ffffff;

        &::after {
            display: block;
            position: absolute;
            content: "";
            left: 2px;
            width: 100px;
            height: 1px;
            margin-top: 23px;
            background-color: white;
        }
    }

    &__button {
        position: absolute;
        cursor: pointer;
        width: 262px;
        height: 55px;
        background: #ffffff;
        border: none;
        border-radius: 3px;
        right: 480px;
        bottom: 40px;
        font-family: "Lato";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #1074eb;
    }
}

.advantage {
    padding-bottom: 100px;
    &__box {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }

    &__header {
        font-weight: 400;
        font-size: 36px;
        line-height: 43px;
        padding-bottom: 70px;
        color: #383838;
    }

    &__item {
        width: 263px;
        max-width: 100%;
        height: 100%;
        min-height: 250px;
        padding: 35px 17px;
        background: #f7f7f7;
        border-radius: 3px;
        overflow: hidden;
    }
}

.item {
    &__wrap {
        display: flex;
        justify-content: center;
    }

    &__img {
        margin-bottom: 30px;
    }

    &__title {
        display: block;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: $black;
        margin-bottom: 20px;
    }

    &__description {
        display: block;
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #9c9c9c;
    }
}

.footer {
    padding-top: 53px;
    padding-bottom: 50px;
    background-color: $black;

    &__box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__logo {
        display: block;
        max-width: 100%;
        margin-bottom: 25px;
    }

    &__email {
        display: block;
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
        margin-bottom: 20px;
    }

    &__time {
        display: block;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
        margin-bottom: 20px;
    }

    &__tel {
        display: block;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
        margin-bottom: 20px;
    }

    &__location {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #9c9c9c;
        width: 245px;
    }

    &__title {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #ffffff;
        margin-bottom: 20px;
        white-space: nowrap;
    }

    &__header {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #ffffff;
        margin-top: 26px;
        margin-bottom: 26px;
        white-space: nowrap;
    }

    &__link {
        display: block;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #9c9c9c;
        margin-top: 13px;
        transition: all 0.2s;
        white-space: nowrap;

        &:hover {
            color: white;
        }
    }

    &__social__link {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #9c9c9c;
        transition: all 0.2s;

        &:hover {
            color: white;
        }
    }

    &__support__us {
        display: flex;
    }
    &__img {
        margin-right: 10px;
        margin-bottom: 33px;
    }

    &__button {
        cursor: pointer;
        width: 262px;
        max-width: 100%;
        height: 55px;
        display: block;
        position: relative;
        right: 0;
        top: 0;
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
        background: $primary;
        border: none;
        margin-bottom: 30px;

        &::after {
            position: absolute;
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background-image: url(../images/user-2.png);
            background-repeat: no-repeat;
            left: 37px;
            top: 18px;
        }
    }

    &__image {
        margin-right: 10px;
    }

    &__copyright {
        margin-top: 53px;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: #9c9c9c;
    }
}

.burger__menu {
    display: none;
}
