@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";
@import "slider";
@import "media";

.header {
    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    &__logo--top {
        display: none;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    &__top {
        padding-top: 15px;
        padding-bottom: 15px;
        background: #f7f7f7;
        width: 100%;
        overflow: hidden;
    }

    &__menu--top {
        margin-left: 28px;
        display: none;
    }

    &__bottom {
        padding-top: 20px;
        padding-bottom: 22px;
    }

    &__list {
        display: flex;
    }

    &__link {
        font-size: 16px;
        line-height: 19px;
        color: #383838;
        margin-right: 30px;

        &:last-child {
            margin: 0;
        }
    }

    .header__link:hover {
        color: $primary;
    }

    &__motto {
        display: flex;
        align-items: center;
    }

    &__icon {
        margin-left: 25px;

        &:hover {
            svg path {
                fill: $primary;
            }
        }

        &:last-child {
            display: none;
            margin-right: 28px;
        }
    }

    &__images {
        display: flex;
    }

    &__search {
        position: relative;
    }

    &__button {
        cursor: pointer;
        width: 165px;
        max-width: 100%;
        height: 40px;
        background: #ff9900;
        border-radius: 3px;
        border: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color: #ffffff;
    }

    &__tel {
        font-size: 25px;
        line-height: 30px;
        color: #383838;
    }

    &__email {
        display: none;
    }

    &__phone {
        display: none;
    }

    &__user {
        cursor: pointer;
        height: 40px;
        width: 37px;
        background-image: url("../images/user.svg");
        background-repeat: no-repeat;
        background-size: cover;
        border: none;
    }
}

.motto {
    &__item {
        position: relative;
    }

    &__quote {
        &--gray {
            padding-right: 40px;
            color: #9c9c9c;

            &::before {
                position: absolute;
                content: "";
                display: block;
                background-image: url(../images/Ellipse.png);
                background-repeat: no-repeat;
                width: 30px;
                height: 5px;
                right: 0;
                border-radius: 7px;
                top: 10px;
            }
        }
    }
}

.form {
    &__input {
        padding-left: 10px;
        padding-right: 74px;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color: #9c9c9c;
        border-radius: 3px;
        border: 1px solid #c9c9c9;
        outline: none;
        width: 292px;
        height: 40px;
        max-width: 100%;
        margin-left: 15px;
    }

    &__button {
        cursor: pointer;
        position: absolute;
        content: "";
        display: block;
        right: 5px;
        top: 5px;
        width: 66px;
        height: 30px;
        border: none;
        background: #1074eb;
        border-radius: 3px;
        font-family: "Lato";
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 18px;
        color: #ffffff;
    }
}

.social__icon {
    margin-right: 10px;
    margin-top: 5px;
}

.navigation {
    padding-bottom: 9px;

    &__box {
        display: flex;
    }

    &__menu {
        cursor: pointer;
        display: flex;
        align-items: center;
        background: #1074eb;
        border-radius: 3px;
        border: none;
        height: 60px;
        width: 136px;
        justify-content: space-around;
    }

    &__item {
        padding-left: 23px;
    }

    &__link {
        font-style: normal;
        font-size: 16px;
        line-height: 19px;
        color: $black;
        white-space: nowrap;
        transition: all 0.2s;
    }

    .navigation__link:hover {
        color: $primary;
    }

    &__block {
        background: #f7f7f7;
        width: 100%;
    }

    &__list {
        display: flex;
        align-items: center;
        overflow: hidden;
    }
}

.menu {
    &__title {
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color: #ffffff;
    }
}

.carousel {
    padding-top: 100px;
    padding-bottom: 100px;

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 43px;
        color: #383838;
        padding-bottom: 70px;
    }

    &__product {
        margin: 0 15px;
    }
}

.product {
    &__wrap {
        position: relative;

        &::before {
            cursor: pointer;
            position: absolute;
            display: block;
            content: "";
            background-image: url(../images/heart-line.svg);
            background-repeat: no-repeat;
            top: 18px;
            right: 15px;
            width: 23px;
            height: 23px;
        }
    }

    &__body {
        position: relative;
        width: 100%;
        border-radius: 3px;
    }

    &__sale {
        position: absolute;
        content: "";
        display: block;
        width: 67px;
        height: 24px;
        background: #ff9900;
        border-radius: 0px 3px 3px 0px;
        text-align: center;
        top: 17px;
        font-family: "Lato", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
        text-transform: uppercase;

        &--red {
            background: #e92626 !important;
        }
    }

    &__icon {
        fill: $primary;
    }

    &__title {
        font-family: "Lato";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #9c9c9c;
        padding-top: 20px;
        padding-bottom: 7px;
    }
    &__description {
        display: block;
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #383838;
        padding-bottom: 32px;
    }
    &__price {
        font-family: "Lato";
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #383838;
    }

    &__old__price {
        font-family: "Lato";
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        text-decoration-line: line-through;
        color: #c9c9c9;
    }

    &__block {
        display: flex;
        justify-content: space-between;
    }

    &__button {
        position: relative;
        cursor: pointer;
        width: 100%;
        height: 55px;
        margin-top: 30px;
        border: none;
        background: $primary;
        border-radius: 3px;
        font-family: "Lato";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;

        &::after {
            position: absolute;
            display: block;
            content: "";
            width: 30px;
            height: 30px;
            background-image: url(../images/shopping_cart.svg);
            background-repeat: no-repeat;
            top: 18px;
            left: 57px;
        }
    }
}

.recommendations {
    background-image: url(../images/background.svg);
    background-repeat: no-repeat;
    max-width: 100%;
    background-position: center;
    height: 300px;
    overflow: hidden;
    &__wrap {
        position: relative;
        &::after {
            position: absolute;
            content: "";
            display: block;
            background-image: url(../images/recommend.png);
            background-repeat: no-repeat;
            width: 266px;
            height: 266px;
            top: 14px;
            left: 14px;
        }

        &::before {
            position: absolute;
            content: "";
            display: block;
            background-image: url(../images/recommend-2.png);
            background-repeat: no-repeat;
            width: 266px;
            height: 266px;
            top: 14px;
            right: 126px;
        }
    }

    &__info {
        display: block;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #ffffff;
        margin-bottom: 23px;

        &::after {
            display: block;
            position: absolute;
            content: "";
            width: 100px;
            height: 1px;
            margin-top: 23px;
            background-color: white;
        }
    }

    &__button {
        cursor: pointer;
        width: 262px;
        height: 55px;
        background: #ffffff;
        border: none;
        border-radius: 3px;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #1074eb;
        margin-top: 53px;
        margin-right: 65px;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 0 0 0;
    }
}

.advantage {
    padding-bottom: 100px;

    &__header {
        font-weight: 400;
        font-size: 36px;
        line-height: 43px;
        padding-bottom: 70px;
        color: #383838;
    }

    &__item {
        width: 263px;
        max-width: 100%;
        min-height: 250px;
        padding: 35px 17px;
        background: #f7f7f7;
        border-radius: 3px;
        overflow: hidden;
    }
}

.item {
    &__wrap {
        display: flex;
        justify-content: center;
    }

    &__img {
        margin-bottom: 30px;
    }

    &__title {
        display: block;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: $black;
        margin-bottom: 20px;
    }

    &__description {
        display: block;
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #9c9c9c;
    }
}

.footer {
    padding-top: 53px;
    padding-bottom: 50px;
    background-color: $black;

    &__box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__logo {
        display: block;
        max-width: 100%;
        margin-bottom: 25px;
    }

    &__email {
        display: block;
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
        margin-bottom: 20px;
    }

    &__time {
        display: block;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
        margin-bottom: 20px;
    }

    &__tel {
        display: block;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
        margin-bottom: 20px;
    }

    &__location {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #9c9c9c;
        width: 245px;
    }

    &__title {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #ffffff;
        margin-bottom: 20px;
        white-space: nowrap;
    }

    &__header {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #ffffff;
        margin-top: 26px;
        margin-bottom: 26px;
        white-space: nowrap;
    }

    &__link {
        display: block;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #9c9c9c;
        margin-top: 13px;
        transition: all 0.2s;
        white-space: nowrap;

        &:hover {
            color: white;
        }
    }

    &__social__link {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #9c9c9c;
        transition: all 0.2s;

        &:hover {
            color: white;
        }
    }

    &__support-us {
        display: flex;
    }
    &__img {
        margin-right: 10px;
        margin-bottom: 33px;
    }

    &__button {
        cursor: pointer;
        width: 262px;
        max-width: 100%;
        height: 55px;
        display: block;
        position: relative;
        right: 0;
        top: 0;
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
        background: $primary;
        border: none;
        margin-bottom: 30px;

        &::after {
            position: absolute;
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background-image: url(../images/user-2.png);
            background-repeat: no-repeat;
            left: 37px;
            top: 18px;
        }
    }

    &__image {
        margin-right: 10px;
    }

    &__copyright {
        margin-top: 53px;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: #9c9c9c;
    }
}

.burger__menu {
    display: none;
}

.catalog {
    margin-bottom: 50px;

    &__block {
        display: flex;
        margin-top: 20px;
    }

    &__title {
        font-size: 36px;
        font-weight: 400;
        line-height: 43px;
        color: #383838;
        margin-top: 50px;
        margin-bottom: 50px;
        white-space: nowrap;
    }

    .arrow {
        &__left {
            display: inline;
        }
    }

    &__inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    &__return {
        font-size: 16px;
        line-height: 19px;
        color: #9c9c9c;

        &:hover {
            text-decoration: underline;
        }
    }

    &__sup-title {
        font-size: 16px;
        line-height: 19px;
        color: #383838;
    }

    &__middle {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item {
        width: 100%;
        max-width: 440px;
        min-height: 218px;
    }

    .sort {
        &__title {
            margin-left: 50px;
            margin-right: 10px;
            font-size: 16px;
            line-height: 19px;
            white-space: nowrap;
            color: #9c9c9c;
        }
        &__curent {
            font-size: 16px;
            line-height: 19px;
            color: #1074eb;
            white-space: nowrap;
        }

        &__number {
            font-size: 16px;
            line-height: 19px;
            color: #1074eb;
            white-space: nowrap;
        }

        &__item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__center {
        display: flex;
    }

    &__filters {
        width: 263px;
        height: 898px;
        background: $light-gray;
        margin-right: 29px;
        padding: 30px 20px 0 20px;
    }

    .filter {
        &__title {
            display: block;
            font-size: 18px;
            line-height: 22px;
            font-weight: 600;
            color: #383838;
            margin-bottom: 10px;
        }

        &__option {
            display: block;
            width: 100%;
            height: 45px;
            padding: 13px;
            border: 0;
            background-image: url(../images/arrow-blue.png);
            background-repeat: no-repeat;
            appearance: none;
            background-position-x: 190px;
            background-position-y: 15px;
            outline: none;
            margin-bottom: 20px;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            color: #9c9c9c;
        }

        &__sub-categories {
            position: relative;

            &::after {
                position: absolute;
                content: "";
                display: block;
                background-repeat: no-repeat;
                width: 100%;
                height: 1px;
                bottom: -12px;
                background-color: #c9c9c9;
                border-radius: 1px;
            }
        }

        &__block {
            display: flex;
        }

        &__input {
            position: relative;
            width: 106px;
            height: 45px;
            border: none;
            padding: 13px;
            font-size: 16px;
            line-height: 19px;
            color: #9c9c9c;
            margin-right: 11px;
            border: 1px solid #f7f7f7;
            border-radius: 3px;
        }

        &__price {
            position: relative;
            &::before {
                position: absolute;
                content: "";
                display: block;
                width: 2.25px;
                height: 9.01px;
                background-image: url(../images/points.png);
                background-repeat: no-repeat;
                z-index: 99;
                right: 110px;
                top: 51px;
                border-radius: 50%;
            }

            &::after {
                position: absolute;
                content: "";
                display: block;
                background-repeat: no-repeat;
                width: 100%;
                height: 1px;
                bottom: -12px;
                background-color: #c9c9c9;
                border-radius: 1px;
            }
        }
    }

    .brend,
    .filter__wrap,
    .item {
        position: relative;
        margin-top: 20px;
        &::after {
            position: absolute;
            content: "";
            display: block;
            background-repeat: no-repeat;
            width: 100%;
            height: 1px;
            bottom: -12px;
            background-color: #c9c9c9;
            border-radius: 1px;
        }

        &__title {
            display: block;
            font-size: 18px;
            color: #383838;
            margin-bottom: 20px;
            font-weight: 600;
        }
        &__input {
            display: flex;
            flex-direction: column;
            width: 19px;
            height: 19px;
            margin-right: 10px;
            accent-color: $primary;
        }

        &__block {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        &__block {
            display: block;
            position: relative;
            padding-left: 32px;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 22px;
            user-select: none;
            font-size: 16px;
            line-height: 19px;
            color: #383838;
        }

        &__block input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            width: 19px;
            height: 19px;
            border: 2px solid #9c9c9c;
        }

        .checkmark:after {
            content: "";
            position: absolute;
            display: block;
        }

        &__block input:checked ~ .checkmark:after {
            display: none;
        }

        &__block .checkmark:after {
            left: 4px;
            top: 1px;
            width: 7px;
            height: 10px;
            border: solid #1074eb;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
        }
    }

    .rating {
        position: relative;
        margin-top: 20px;

        &::after {
            position: absolute;
            content: "";
            display: block;
            background-repeat: no-repeat;
            width: 100%;
            height: 1px;
            bottom: -15px;
            background-color: #c9c9c9;
            border-radius: 1px;
        }

        &__title {
            display: block;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #383838;
            margin-bottom: 20px;
        }

        &__inner {
            display: flex;
            justify-content: space-between;
        }
        &__star {
            object-fit: cover;
        }
    }
}

.button {
    &__more {
        display: none;
    }
}

.another {
    &__pages {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;

        .page {
            &__button {
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                width: 43px;
                height: 43px;
                background-color: $primary;
                margin-left: 23px;
                margin-right: 23px;
                border: none;
            }

            &__link {
                padding-right: 20px;
                transition: all 0.2s;

                &:hover {
                    color: $primary;
                }
            }
        }
        .arrow__two {
            transform: rotate(180deg);
        }
    }
}

.cart {
    &__wrap {
        position: relative;
    }

    &__sale {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #fff;
        text-transform: uppercase;
    }

    &__inner {
        display: flex;
        margin-bottom: 50px;
    }

    &__img {
        width: 555px;
        height: 555px;
    }

    &__block {
        position: relative;
        width: 555px;
        height: 555px;
        background: #f7f7f7;
        margin-left: 30px;
        padding: 30px 30px 50px 30px;
    }

    &__title {
        position: relative;
        font-weight: 400;
        font-size: 36px;
        line-height: 43px;

        &::after {
            position: relative;
            content: "";
            display: block;
            min-width: 100%;
            height: 1px;
            background-color: #c9c9c9;
            border-radius: 1px;
            margin-top: 30px;
        }

        &-gray {
            font-weight: 400;
            font-size: 36px;
            line-height: 43px;
            color: #9c9c9c;
        }
    }
}

.item {
    &__box {
        display: flex;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    &__sup-title {
        color: #9c9c9c;

        &:last-child {
            color: #383838;
        }
    }
}

.comments {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #c9c9c9;

    &__block {
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
    }

    &__link {
        white-space: nowrap;
        color: #9c9c9c;
    }

    .star {
        display: block;
        padding-right: 24px;
    }
}

.patterns {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;

    &::after {
        position: absolute;
        content: "";
        display: block;
        min-width: 100%;
        height: 1px;
        background-color: #c9c9c9;
        border-radius: 1px;
        margin-top: 30px;
    }

    .pattern {
        &__title {
            color: #9c9c9c;
            font-size: 16px;
        }

        &__model-title {
            color: #9c9c9c;
            font-size: 16px;
            margin-left: 30px;
        }

        &__colored {
            font-size: 16px;
            color: #383838;
            margin-left: 5px;
        }
    }
}

.price {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;

    &::before {
        position: absolute;
        content: "";
        display: block;
        min-width: 100%;
        height: 1px;
        background-color: #c9c9c9;
        border-radius: 1px;
        margin-top: 100px;
    }

    .item {
        &__price {
            font-weight: 500;
            font-size: 36px;
            line-height: 43px;
            color: #383838;
        }

        &__old-price {
            font-weight: 500;
            font-size: 36px;
            line-height: 43px;
            text-decoration-line: line-through;
            color: #c9c9c9;
            margin-left: 30px;
        }

        &__quantity {
            &-box {
                display: flex;
                justify-content: space-between;
            }
        }

        &__button {
            width: 120px;
            height: 45px;
            background: #ffffff;
            border: 1px solid #9c9c9c;
            border-radius: 3px;
        }

        &__number {
            font-size: 16px;
            line-height: 19px;
            color: #1074eb;
        }
    }
}

.content {
    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 30px;
    }
    &__block {
        display: flex;
        align-items: center;
    }
}
.cart {
    &__button {
        cursor: pointer;
        width: 263px;
        height: 55px;
        background: #1074eb;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
        border: none;
    }
}

.features {
    max-width: 100%;
    width: 1140px;
    height: 382px;
    background: #f7f7f7;
    border-radius: 3px;
    padding: 30px 30px 30px 30px;
    margin-bottom: 30px;
}

.feature {
    &__title {
        position: relative;
        margin-bottom: 30px;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #383838;

        &::after {
            position: absolute;
            content: "";
            display: block;
            min-width: 100%;
            height: 1px;
            background-color: #c9c9c9;
            border-radius: 1px;
            margin-top: 30px;
        }
    }

    &__item {
        display: block;
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 22px;
        color: #9c9c9c;
    }

    &__description {
        display: block;
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 22px;
        color: #383838;
    }

    &__inner {
        display: flex;
        gap: 30px;
    }

    &__block {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}

.description {
    margin-bottom: 50px;

    &__inner {
        display: flex;
    }

    &__box {
        width: 555px;
        max-width: 100%;
        min-height: 369px;
        background: #f7f7f7;
        border-radius: 3px;
        padding: 30px 30px 30px 30px;
    }

    &__title {
        font-size: 24px;
        line-height: 29px;
        color: #383838;
        font-weight: 500;
        margin-bottom: 30px;
    }

    &__article {
        display: block;
        position: relative;
        font-size: 18px;
        line-height: 22px;
        color: #9c9c9c;
        margin-top: 60px;

        &::before {
            position: absolute;
            content: "";
            display: block;
            min-width: 100%;
            height: 1px;
            background-color: #c9c9c9;
            border-radius: 1px;
            margin-top: -28px;
        }
    }
}

.reviews {
    &__slider {
        width: 555px;
        max-width: 100%;
        min-height: 369px;
        background: #f7f7f7;
        border-radius: 3px;
        padding: 30px 30px 30px 30px;
        margin-left: 30px;
    }

    &__title {
        position: relative;
        font-size: 24px;
        line-height: 29px;
        color: #383838;
        font-weight: 500;
        margin-bottom: 30px;

        &::after {
            position: absolute;
            content: "";
            display: block;
            min-width: 100%;
            height: 1px;
            background-color: #c9c9c9;
            border-radius: 1px;
            margin-top: 30px;
        }
    }

    &__slider-description {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #9c9c9c;
        margin-top: 20px;
    }

    &__content {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
    }

    &__wrap {
        display: flex;
        align-items: center;
    }
}

.man {
    &__name {
        font-size: 18px;
        line-height: 22px;
        color: #383838;
        font-weight: 600;
        margin-left: 10px;
    }

    &__img {
        width: 70px;
        height: 70px;
        border-radius: 100%;
        object-fit: cover;
        flex: 0 0 70px;
    }
}

.stars {
    display: flex;
    padding-left: 20px;
}

.star__img {
    padding-left: 20px;
}

.not {
    &__available {
        color: $red;
        font-size: 16px;
    }
}

.return {
    &__link {
        color: #9c9c9c;
    }
}

.red {
    &__point {
        margin-top: 3px;
        margin-right: 5px;
        object-fit: cover;
    }
}

.shop {
    &__cart {
        margin-right: 10px;
    }
}

.heart {
    &__image {
        position: absolute;
        top: 35px;
        right: 30px;
    }
}

.product__sale-red {
    background: #e92626;
    margin-top: 30px;
}
